.question{
    min-height: 100px;
}

.question-1{
    margin: 70px 0px 70px 70px;
    border: 1px solid green;
}

.question-2a{
    padding: 70px 0px 70px 70px;
    border: 1px solid green;
}

.question-2b{
    /* padding: 70px 0px; */
    border: 1px solid green;
}
.ngoai{
    padding: 70px 0px;
    border: 1px solid red;
    display:inline-block;
}
.me{
color: red;
background-color: pink;
}

img{
    width: 100%;
    height: 300px;
}